
/*Custom.css*/


:root {
  --main-color: #F06D06;
  --primary-color: #00a6ff;
  --secondary-color: #a8c836;

  --black-color: #16181d;
  --white-color: #ffffff;

  --dark-green-color: #0d2d31;
  --black-green-color: #012c33;

  --shadow: 1px 2px 5px rgba(0,0,0,.75);
}

a {
	-webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

*:hover, *:active, *:focus {
  outline: none;
}

p {
  color: var(--primary-color);
}

.container {
	max-width: 767px
}

body {
	transition: background-color .5s;
}

.bg {
	background:url(../images/main-bg.jpg) no-repeat center top;
	background-size:cover;

	width: 100vw;
	height: 100vh;
	background-attachment:fixed;
}
.home
{
	
	background:url(../images/main-bg.jpg) no-repeat center top;
	background-size:cover;

	
	background-attachment:fixed;
}
.logo {
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo img {
	max-width: 180px;
	/*border:1px solid red;*/
}

.map-id {
	color: var(--primary-color);
	font-weight:bold;
	padding: 5px 0;
}

.map-id span.span {
	padding-top: 6px;
	display: inline-block;
}

.text {
	width: 100%;
	background-color: var(--black-color);
	color: var(--white-color);
	font-weight:bold;
	border:2px solid var(--dark-green-color);
	padding:5px 25px 5px 10px;
	
}
.edit-id {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*z-index: 0;*/
}


.pencil-cover {
	position: relative;
}

.edit-ico {
	color: var(--secondary-color);
	position: absolute;
	right: 8px;
	top:5px;
	/*border:1px solid red;*/
	padding-bottom: 5px;
	border-bottom:2px solid var(--secondary-color);
	z-index: 0;
	cursor: pointer;
	pointer-events: none;
}


.display-name{
	padding: 5px 0;
}
.display-name input {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 40px;
	text-align: center;
	border-color: var(--primary-color)
}

.display-name .edit-ico {
	right:20px;
	top:15px;
}

.display-name label {
	color:var(--primary-color);
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.display-name label:before {
  content: "";
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--primary-color);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
}

.share-location .btn {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 5px;
	margin-bottom: 5px;

	background: -webkit-linear-gradient(top, #374e6d, #171d26); 
    background: -o-linear-gradient(bottom, #374e6d, #171d26);
    background: -moz-linear-gradient(bottom, #374e6d, #171d26); 
    background: linear-gradient(top bottom, #374e6d, #171d26); 
    border-color:var(--black-color);

    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.share-location .btn:before {
	content: url(../images/share-location.png);
	position: absolute;
	transform: scale(.3);
	width:55px;
	height:55px;
	top:-3px;
	left:15px;
}

.share-location .btn:after {
	content:"";
	width:35px;
	height: 35px;
	top: 20px;
	right: 35px;
	background: url(../images/arrow-right.png) no-repeat center;
	background-size:10px;
	position: absolute;
}

.share-location .btn b {
	text-shadow: var(--shadow);
	color: var(--white-color);
}

.search-wrapper {
	padding-top: 20px;
	/*padding-bottom: 20px;*/
}
.search-wrapper .form-control {
	background:#daf9ff url(../images/search.png) no-repeat;
	background-size: 35px;
	background-position:15px;
	height: inherit;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left:55px;
	/*border-right:1px solid #414151;*/

	-moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset 2px -2px 2px rgba(0, 0, 0, .4);

	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}



.search-wrapper span  {
	background: -webkit-linear-gradient(top, #4e6562, #283f2f); 
    background: -o-linear-gradient(bottom, #4e6562, #283f2f);
    background: -moz-linear-gradient(bottom, #4e6562, #283f2f); 
    background: linear-gradient(top bottom, #4e6562, #283f2f); 
    border-color:var(--black-color);

    -moz-box-shadow: inset -2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset -2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset -2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);

    -webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;

	border-left:1px solid #272831;
}

.search-wrapper span .btn,
.search-wrapper span .btn:hover,
.search-wrapper span .btn:focus {
	background-color:transparent;
	border-color: transparent;
    color:var(--white-color);
    text-shadow: var(--shadow);
}


.map-on-off .map-text {
	color:var(--secondary-color);
	background-color: #012450;
	margin-right: -15px;
	padding: 8px 0;

	-webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;

	border:2px solid #005d8f;
	border-right: 0;
}

.map-on-off .map-button {
	color:var(--white-color);
	background-color: #009e25;
	margin-left: -15px;
	padding: 8px 0;

	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}


.map-action .view-map,
.map-action .exit-map {
	text-align: left;
	color:var(--white-color);
	padding-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.map-action .view-map:before,
.map-action .exit-map:before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
}

.map-action .view-map:before {
	left: 15px;
	top: 10px;
	background:url(../images/view-map.png) no-repeat;
	background-size: contain;
}

.map-action .exit-map:before {
	right: 15px;
	top: 10px;
	background:url(../images/exit-map.png) no-repeat;
	background-size: contain;
}

.map-action .view-map {
	background: -webkit-linear-gradient(top, #374e6d, #171d26); 
    background: -o-linear-gradient(bottom, #374e6d, #171d26);
    background: -moz-linear-gradient(bottom, #374e6d, #171d26); 
    background: linear-gradient(top bottom, #374e6d, #171d26); 
    margin-right: -15px;

    padding-left: 65px;

    -webkit-border-top-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	-moz-border-radius-topleft: 50px;
	-moz-border-radius-bottomleft: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;

	-moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);

    border-right:1px solid #ecbe22;
	}

.map-action .exit-map {
	background: -webkit-linear-gradient(top, #4e6562, #283f2f); 
    background: -o-linear-gradient(bottom, #4e6562, #283f2f);
    background: -moz-linear-gradient(bottom, #4e6562, #283f2f); 
    background: linear-gradient(top bottom, #4e6562, #283f2f); 
	margin-left: -15px;

	padding-right: 55px;

	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;

	-moz-box-shadow: inset -2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset -2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset -2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);

    border-left:1px solid #ecbe22;
}

.map-action .view-map b,
.map-action .exit-map b {
	display: block;
}

#loadModal .modal-footer {
	text-align: center;
}

.form-line ul {
	padding: 0;
}
.form-line li {
	border-bottom:1px solid #ddd;
	list-style: none;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}


.map-viewer {
	background-color:#242f3e;
	width: 100vw;
	height:86vh;
	position: relative;
}

.top-search-wrap {
	background-color: var(--white-color);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Header Search*/

.search-filter {
    top: -3px;
}

.data-name {
    color: #ababab;
    font-size: 11px;
    position: absolute;
    width: 100px;
    bottom: -15px;
    left: 0;
}

.search-wrap {
    border:1px solid #99ccff;
    position: relative;
    top: -2px;
    margin-left: 15px;
}

.search-wrap.top-search:before {
	content:"joined Map";
    position:absolute;
    font-size:9px;
    width:100%;
    text-align:left;
    color:#008000;
    bottom: -15px;
    padding-left: 5px;
}

.search-wrap.pass-search:after{
  content:"Password Required";
  position:absolute;
  font-size:9px;
  width:100%;
  text-align:left;
  color:#969696;
  bottom:-15px;
  /*z-index: 99;*/
}

.search-wrap.top-search:after {
  content:url(../images/lock-green.png);
  position:absolute;
  right:0;
  top:5px;
  background-color:transparent !important;
}

.search-wrap.top-search.normal:after {
  content:url(../images/lock-green.png);
}
.search-wrap.top-search.allow_deny:after {
  content:url(../images/lock-allow-deny.png);
}
.search-wrap.top-search.password:after {
  content:url(../images/lock-password.png);
}


.search-wrap:after {
    right: 0;
}

.search-wrap input[type="text"] {
    border: 0;
    box-shadow: 0 0 0 transparent;
    padding: 0 5px;
    /*min-width: 220px;*/
}

.top-clear-icon, .top-search-icon {
    position: relative;
    top: 8px;
    width: 35px;
}

.top-search-icon {
  background: transparent url("../images/search-icon-new.gif") no-repeat center center;
  border: 0;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: 0!important;
  background-size:contain
   }
 

.top-clear-icon {
    background: transparent url(../images/clearsearch-icon.png) no-repeat center center;
    border: 0;
    margin: 0 5px;
}

.top-clear-icon input, .top-search-icon input {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.top-search-icon input {
    width: 32px;
    height: 32px;
}

.search-by {
	color:#13a1aa;
}

/* Tool Tip */
.tool-tip {
  position: relative;
  display: inline-block; 
}

.tool-tip::before, .tool-tip::after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 9999; }

.tool-tip::before {
    content: attr(data-text);
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: #13a1aa;
    border-radius: .25em;
    bottom: 90px;
    left: calc(50% - 35px);
    color: white;
    text-align: center; }


span.tool-tip[data-text="Email"]:before{ left: calc(50% - 53px); }

.tool-tip::after {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #13a1aa;
    left: calc(50% - 10px);
    bottom: 40px; }

.tool-tip:hover::before, .tool-tip:hover::after {
    opacity: 1;
    visibility: visible; }

.tool-tip:hover::before {
    bottom: 60px; }

.tool-tip:hover::after {
    bottom: 40px; }

[data-position="left"]::before {
  left: calc(0% - 65px);
  bottom: -45px !important; }

[data-position="left"]::after {
  left: calc(0% - -7px);
  transform: rotate(-180deg);
  bottom: -5px !important; }

[data-color="blue"]::before {
  background: #00b4ff; }

[data-color="blue"]::after {
  border-top-color: #00b4ff; }

[data-color="orange"]::before {
  background: #f0ad4e; }
[data-color="orange"]::after {
  border-top-color: #f0ad4e; }

[data-color="green"]::before {
  background: #007d91; }

[data-color="green"]::after {
  border-top-color: #007d91; }


.cMapid {
    color: #e9e9e9;
    font-size: 15px;
    line-height: 57px;
}

.cMapid i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background: transparent url(../images/lock-orange.png) no-repeat center center;
    position: relative;
    top: 3px;
}

.cMapid b {
    font-size: 18px;
    color: #13a1aa;
    padding-left: 5px;
}

.top-share {
	position: relative;
	top: 10px;
}

.top-share a {
	/*border:1px solid red;*/
	display: inline-block;
	cursor: pointer;
}

.top-share i {
	border-left:1px solid #1f2e43;
    font-size: 1.5em;
    color: #fff000;
    padding: 7px;
    margin-left: 15px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.map-layer-top {
	padding-left: 10px;
	padding-right: 10px;
	background: #333 !important; 
}

.map-layer-bottom {
	background: rgba(59,177,184,0.8); 
	padding-top: 7px;
	padding-bottom: 7px;
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.top-visible {
	background-color: #19444b;
}
.top-my-map,
.top-exit {
	background-color: var(--black-green-color)
}

.top-visible,
.top-my-map,
.top-exit {
	margin-left: -15px;
	margin-right: -15px;
	padding-bottom: 5px;
	min-height:55px;
	padding-top: 5px;
	border-left: 1px solid #204044;
}

.top-visible span,
.top-my-map span,
.top-exit span {
	color: var(--white-color);
	font-size:12px;
	display: block;
	padding-bottom: 2px;
}

.top-visible img,
.top-my-map img,
.top-exit img {
	max-width: 25px;
	max-height: 22px;
}


.logo-small img {
	max-width:106px;
}
.logo-small a {
  position:relative;
  display:inline-block;
}

.logo-small a:after {
  content:"< Back";
  position:absolute;
  font-size:12px;
  bottom:-15px;
  left:5px;
  color:#008080;
}

.nav-ico {
	font-size:30px;
	cursor:pointer;
	position: relative;
	top:10px;
	color:#000;
}

header {
	box-shadow: 0 2px 7px 1px rgba(0,0,0,0.2);
	border-bottom:1px solid rgba(0,0,0,0.1);
}

.test {
	border:1px solid red;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.terms-and-conditions {	padding: 35px 15px;}
.terms-and-conditions b { color:#000; font-weight:bold;  }
.terms-and-conditions .b { font-size: 16px; padding-bottom: 10px; padding-top: 10px; display: block; }
.terms-and-conditions .red { color: red; }
.terms-and-conditions a {  text-decoration: none; border-bottom: 1px solid red; color: #333; padding-bottom: 1px; }
.terms-and-conditions p { color:#000; font-size:14px; line-height: 22px; }

.list {	display: inline-block;}
.list li { padding-left: 25px; }


 /**/

 .box-grid {
  padding-top: 50px;
  padding-bottom: 50px; }

.box-grid .box-single {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
    min-height: 200px;
    margin-bottom: 35px; }

.box-single h4 {
      padding-bottom: 15px;
      color:#13a1aa !important; }

.box-single p {
	color: var(--black-color);
}

.box-single a {
	border-bottom:1px solid #333;
}

.interior-wrapper {
  padding-top: 100px; }

.hex-ul ul {
	padding: 0;
	padding-left: 8px;
}

.hex-ul ul li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px; }

.black p {
	color: var(--black-color);
}

.help-page .panel-group {
    padding-left: 15px;
    padding-right: 15px;
}

.help-page .panel-group .panel {
	margin-bottom: 15px;
}

.help-page .panel-heading a {
    font-weight: bold;
}
.help-page .panel-heading {
    cursor: pointer; padding: 0;
}
.help-page .panel-heading:hover{background: #177f74; color: #fff;}
.help-page .right-arrow.pull-right {
    font-size: 25px;
    top: -7px;
    position: relative;
}
.help-page .panel-heading .panel-title{padding: 10px 15px;}
.display-name .edit-ico {
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.18);
    border: 0;
    z-index: 99999999999;
    cursor: pointer;
    pointer-events: all;
    width: 65px;
    height: 54px;
    -webkit-border-top-right-radius: 100%;
    -webkit-border-bottom-right-radius: 100%;
    -moz-border-radius-topright: 100%;
    -moz-border-radius-bottomright: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
.display-name .edit-ico:hover:before {
    color: white;
}
.glyphicon-pencil:before{top: 19px;position: relative;}

.timer-btn {
    width: 90PX;
    height: 35PX;
}

.timer-btn H2 {
    font-size: 15PX;
    margin: 4px 0 0 0px;
    display: inline-block;
}

.search-wrapper .input-group {
    width: 100%;
}
.search-wrapper span
{
width:65px;
text-align:center;
}

.map-locator {
      padding-top: 8px; }

.map-pic {
  box-shadow: 0 0 15px 1px rgba(51, 51, 51, 0.3);
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px; }
  .map-pic div:first-child {
    padding-right: 0; }
  .map-pic div:last-child {
    padding-top: 5px; }
  .map-pic img {
    max-width: 75px; }

.map-pic p,
.map-record p {
  color: #242f3e;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 5px; }
  .map-pic p small,
  .map-record p small {
    color: #95989d;
    display: block;
    font-size: 14px;
    font-weight: normal; }
.map-pic i,
.map-record i {
  color: #13a1aa; }

.map-record {
    padding-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

/*.map-action {
  background-color: #d3bc8e; }*/

.map-buttons span {
  display: inline-block;
  padding: 5px;
  text-align: center;
  max-width: 24%;
  min-width: 24%;
  cursor: pointer; }
  .map-buttons span i {
    color: #514429; }

.track-buttons {
  margin-top: 15px;
  background-color: #514429;
  border: 1px solid #514429; }
  .track-buttons label {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #ccc;
    color: #bda471;
    margin: 0; }
    .track-buttons label:last-child {
      border-color: transparent; }
    .track-buttons label input {
      position: relative;
      left: 3px;
      top: 3px; }
      
      
  .gm-style .map-pic img {
    max-width: 75px;
} 
/*raja*/   
.map-id .col-xs-4 .glyphicon-pencil:before { top: 0;}

.display-name [data-position="left"]::before { background: transparent; color: #a8c836;/* transparent;left: 0 !important; bottom: 0; top: 0 !important; */}

.search-wrapper .form-control { border-top-left-radius: 50px !important; border-bottom-left-radius: 50px !important; }
.map-action {
    background: none !important;
}
.map-action .view-map a.ui-link {
    color: #fff;
}
.display-name .edit-ico { z-index: auto; }

#participants-list,
#tab3 { min-width:180px; text-align:right; padding:3px}

#participants-list .name,
#tab3 .name { float:left;}

#participants-list .sprite-image,
#tab3 .sprite-image,
#tab2 .sprite-image { 
    display:inline-block !important;;
    width:25px !important; 
    height:25px !important; 
    background:url("../images/participants_pos.png") no-repeat;
    background-size: cover;
    padding: 0 !important;
    border:1px solid transparent;
    margin: 0 5px 5px 0;
} 

#participants-list .highlight,
#tab2 .highlight,
#tab3 .highlight { 
    display:inline-block !important;
    width:25px !important; 
    height:25px !important; 
    background:url("../images/track_icon.jpg") no-repeat !important;
    background-size: cover;
    padding: 0 !important;
    border:1px solid transparent;
    margin: 0 5px 5px 0; background-size:100% !important;
}

#participants-list .group_admin,
#tab3 .group_admin { background-position: 0  0; }

#participants-list .myposition,
#tab2 .myposition,
#tab3 .myposition  { background-position: -26px  0; cursor:pointer;}

#participants-list .statuspop,
#tab2 .statuspop,
#tab3 .statuspop { background-position: -50px  0; cursor:pointer;}

.admin-icon {display: inline-block;float: left; width: 35px;}

#participants-list .map-admin,
#tab3 .map-admin{color:#ffffff; background-color:#853A5F;font-weight:bold; line-height:29px;}

#participants-list .map-list-label,
#tab3 .map-list-label{color: #1c401e;font-weight: bold; line-height: 29px;}

#participants-list .invisible-head
#tab3 .invisible-head {color:#ffffff; background-color:#000000; font-weight:bold; line-height:29px;}

#participants-list .invisible_icon,
#tab3 .invisible_icon {display:inline-block !important;;
    width:20px !important; 
    height:18px !important; 
    background:url("../images/invisible_icon.png") no-repeat;
    background-size: cover;
    padding: 0 !important;
    border:1px solid transparent;
    margin: 0 5px 5px 0;
    }
    
#participants-list .highlight,
#tab3 .highlight { 
    display:inline-block !important;
    width:25px !important; 
    height:25px !important; 
    background:url("../images/track_icon.jpg") no-repeat !important;
    background-size: cover;
    padding: 0 !important;
    border:1px solid transparent;
    margin: 0 5px 5px 0; background-size:100% !important;
}

#participants-list .group_admin,
#tab3 .group_admin { background-position: 0  0; }

#participants-list .myposition,
#tab3 .myposition { background-position: -26px  0; cursor:pointer;}

#participants-list .statuspop,
#tab3 .statuspop { background-position: -50px  0; cursor:pointer;}

.admin-icon {display: inline-block;float: left; width: 35px;}

#participants-list .map-admin,
#tab2 .map-admin,
#tab3 .map-admin {color:#ffffff; background-color:#853A5F;font-weight:bold; line-height:29px;}

#participants-list .map-list-label,
#tab3 .map-list-label {color: #1c401e;font-weight: bold; line-height: 29px;}

#participants-list .invisible-head{color:#ffffff; background-color:#000000; font-weight:bold; line-height:29px;}

#participants-list .invisible_icon,
#tab3 .invisible_icon {display:inline-block !important;;
    width:20px !important; 
    height:18px !important; 
    background:url("../images/invisible_icon.png") no-repeat;
    background-size: cover;
    padding: 0 !important;
    border:1px solid transparent;
    margin: 0 5px 5px 0;
    }    
  .map-right {
  background-color: #fff;
  padding-top:20px;
  max-height:100vh;
}  

.tab-pane {
  overflow-y:auto;
  max-height:80vh;
}
#participants-list .map-admin,
#tab3 .map-admin {
  color: #ffffff;
  background-color: #853A5F;
  font-weight: bold;
  line-height: 32px;
  text-indent: 5px; }

#participants-list > li,
#tab3  li {
  border-bottom: 1px solid #222;
  clear: both; }


#participants-list li,
#tab2 .list-group li,
#tab3 .list-group li {
  border-bottom: 1px solid #222;
}

#participants-list li a,
#tab2 .list-group li a,
#tab3 .list-group li a {
      font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

#participants-list{min-width:330px;}


@media (max-width:767px)
{
	.top-visible, .top-exit, .top-my-map { height:71px; }
	.pencil-cover input {
	    float: right;
	    min-width: 100px;
	}

	.map-sel { float:right;}

	.timer { text-align:center;
	    position: fixed;
	    bottom: 7px;
	    z-index: 99999;
	    left: 130px;}
	.timer-btn { width:76px;}
	#geolocationBtn { margin:12px 13px !important;}
	.timer-btn h2 { font-size:12px;}
	.timer .pull-right { float:none !important;}
	.timer-btn .btn { font-size:12px; padding:8px 4px;}
	.top-my-map a {
	   color:#fff !important;
	   font-size:8px;
	   width: 100%;
	    display: inline-block;
	}
	.top-my-map a b
	{
		font-size:14px;
		width: 100%;
	    display: inline-block;
	}
	.top-my-map img {
	    max-width: 28px;
	  max-height: 28px;
	    margin: 0 11px;
	}

	.map-sel span input[type="radio"] {
	    margin-top: -1px;
	    vertical-align: middle;
	}

	.m-channel-info span{
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    font-size: 12px;
	    width: 50%;
	}

	.m-channel-info span:first-child{float: left;}
	.m-channel-info span:last-child{float: right;text-align: right;}
	div#searchmapshare ul { display: block; float: left; width: 100%; padding-left: 0;}

}

@media (max-width:470px)
{
	.map-sel span {
    display: inline-block;
}
}





@media (min-width:420px) and (max-width:590px)
{
.search-full .search-wrap { min-width:128px !important; width:128px;}
.pass-deactivate .top-search { min-width:204px !important; width:auto;}

}
@media (min-width:320px) and (max-width:420px)
{
	.search-full .pass-activate .search-wrap {
    width: 25%;
    min-width: auto;
}
}
@media (min-width:375px) and (max-width:667px)
{
	.search-full .pass-activate .search-wrap {
    width: 28%;
    
}
}
@media (min-width:414px) and (max-width:736px)
{
	.search-full .pass-activate .search-wrap {
    width: 31%;
    
}
}

@media (min-width: 412px) and (max-width: 732px)
{
.search-full .pass-activate .search-wrap {
    width: 30%;
}
}
@media (max-width:370px)
{
	.pass-deactivate .top-search { width:164px !important; min-width:auto !important;}
}
@media (max-width:330px)
{
	.map-action div:nth-child(2) {
    padding: 0; width:43%;
}
}
.pass-search .form-control {
    border: none;
    box-shadow: none;
}
.search-full { width:100%; display:inline-block;}
.search-full .search-wrap { /*min-width:204px;*/ width: 25%;}
.pass-deactivate .pass-search {
    display: none;
}

.map-on-off {
    padding-bottom: 25px !important;
}
#visible_icon,#invisible_icon{font-size:0;}
header #visible_icon,header #invisible_icon{font-size:12px;}

header #visible_icon img, header #invisible_icon img {
    max-width: 52px;
    max-height: 100%;
    top: 5x;
    position: relative;
    width: 32px !important;
    height: auto !important;
}
header #invisible_icon img {
    width: 26px!important;
    top: 2px;
}
header .exitallmap img {
    width: 40px!important;
    max-height: 100%;
    max-width: 150px;
}
.map-button #visible_icon img {
    margin-bottom: 7px;
}
header small {
    display: block;
    font-size: 8px!important;
    bottom: -6px;
    position: relative;
}



.map-sel span:nth-child(2) {
    margin-left: -13px;
}


.modal-body #searchmapshare .sec-9, .modal-body #searchmapshare_mobile .sec-9,  .modal-body #socialquickshare_mobile .sec-9{
display: inline-block; margin-left: 5px;}
.modal-body #searchmapshare .sec-9 img, .modal-body #searchmapshare_mobile .sec-9 img, .modal-body #socialquickshare_mobile .sec-9 img{width: 32px;}
#searchmapshare ul li, #mobilechannelshare ul li, #searchmapshare_mobile ul li{  width:40px; height:40px; float:left; list-style-type:none; margin:0 0 }

div#searchmapshare_mobile > ul {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

#searchshare_mb .modal-dialog, #error_throw .modal-dialog, #update_displayname .modal-dialog
{
	top:25%;
}
.view-map a, .exit-map a {
    color: #fff;
}
#displayName .panel-gutter, #PhoneNumber .panel-gutter {
    margin-top: 8px;
}
#displayName .panel-gutter label, #PhoneNumber .panel-gutter label
{
	margin-bottom:0px;
}
.edit-ico:before {
    top: 0px;
 left:0;
   
}




.modal-body #searchmapshare .sec-9, .modal-body #sharemap_mobile .sec-9,  .modal-body #socialquickshare_mobile .sec-9{
display: inline-block; margin-left: 5px;}
.modal-body #searchmapshare .sec-9 img, .modal-body #sharemap_mobile .sec-9 img, .modal-body #socialquickshare_mobile .sec-9 img{width: 32px;}
#searchmapshare ul li, #mobilechannelshare ul li, #sharemap_mobile ul li{  width:40px; height:40px; float:left; list-style-type:none; margin:0 0 }

div#sharemap_mobile > ul {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

#searchshare_mb .modal-dialog, #error_throw .modal-dialog, #update_displayname .modal-dialog
{
	top:25%;
}


#slideNavigation_mobile

{
    background-color: rgba(17, 17, 17, 0.95) !important;
    z-index: 100000;
	
}



/* social network styles */

.social-facebook {
  background:  url("../images/social-icons.png") no-repeat 0 0;
}
.social-twitter {
  background: url("../images/social-icons.png") no-repeat 0 -39px;
}
.social-googleplus {
  background: url("../images/social-icons.png") no-repeat 0 -80px;
}
.social-pinterest {
  background: url("../images/social-icons.png") no-repeat 0 -120px;
}
.social-tumblr {
  background: url("../images/social-icons.png") no-repeat 0 -160px;
}




/* map light box*/


#map > div > div > div > div:nth-child(4) {
    left: 20px !important;
}


#map > div > div > div > div:nth-child(4) div:nth-child(4) > div {
    min-width: 300px;
}


#map > div > div > div > div:nth-child(4) div:nth-child(4) > div div:nth-child(2) > div {
    max-width: 100% !important;
    
}


#map > div > div > div > div:nth-child(4) div:nth-child(4) > div > div:nth-child(2) {
 
    min-width: 320px;
    overflow: visible !important;
    left: 0px !important;

}

#map > div > div > div > div:nth-child(4) div:nth-child(4) > div > div div:nth-child(4) {
    min-width: 320px;
}

#map > div > div > div > div:nth-child(4) div:nth-child(4) > div > div > div:nth-child(2) {
    width: 322px !important;
}

a.close_pop {
    position: absolute;
    top: -6px;
    right: -4px;
    color: white;
    background: #ca0000;
    display: inline-block;
    padding: 0px 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: normal;
    text-align: center;
}

.tab-pane {
    overflow-y: auto;
   height: 70vh;
   max-height: 70vh;
}

a.close_pop{cursor: pointer;}

#participants-list .nav > li > a{padding: 10px 10px;}
a.close_pop {
        position: absolute;
    top: 53px;
    right: 10px;
    color: white;
    background: #ca0000;
    display: inline-block;
    padding: 3px 8px;
    height: auto;
    border-radius: 0;
    line-height: normal;
    text-align: center;
    font-size: 13px;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 4px;
    width: auto
}


.map-button #invisible_icon img { height: auto !important;}
.map-button #visible_icon img, .map-button #invisible_icon img { margin-bottom: 3px;  margin-top: 4px;}
.map-locator .btn-group { margin-left: 2px !important;}
.search-wrapper span input[type="submit"], .search-wrapper span input[type="submit"]:focus{outline:none;}
.search-wrapper span input[type="submit"]::-moz-focus-inner { border: 0;}

#update_displayname .modal-footer #update_dis_name { background: #13a1aa; color: #fff;}
body #upd_disp_name .tab-pane { overflow-y: auto;    height: auto !important;}

@media (min-width:768px) and (max-width:1024px){
.timer { 
    position: fixed;
    bottom: 7px;
    z-index: 99999;
    left: 78px;}
.top-visible, .top-my-map, .top-exit{min-height: 75px;}
.map-sel span { margin-right: 32px; }
header #invisible_icon .glyphicon, header #visible_icon .glyphicon {display: block;}
.map-viewer { height:100vh !important;}
.top-my-map img
{
	max-width:45px;
	max-height:45px;
}
.top-my-map a {
   color:#fff !important;
   font-size:8px;
   width: 100%;
    display: inline-block;
}
.top-my-map a b
{
	font-size:14px;
	width: 100%;
    display: inline-block;
}
.top-my-map img {
    max-width: 28px;
  max-height: 28px;
    margin: 0 11px;
}
}

span.mobile--share {
    position: absolute;
    top: -40px;
    right: 4px;
    background: #36ae31;
    width: 22px;
    height: 24px;
    border: 1px solid #027002;
    border-radius: 3px;
    text-align: center;
}

.mobile--share i {
    color: #fff !important;
    font-size: 14px !important;
}

.m-channel-info span {
	color: #e9e9e9;
    font-size: 12px;
    line-height: 32px;
    display: inline-block;
    padding-right: 25px;
    background: url(../images/pencil-1.png) no-repeat right center;
    background-size: 18px;
}
.m-channel-info span b {
	font-size: 12px;
	color: #00ccff; }

.search-full .form-control { height:25px !important;}